
//cores texto
$color-brand-yellow: #F7CA11;
$color-brand-pink:   #F71963;
$color-brand-blue:   #3442B5;
$color-brand-purple: #3019B2;
// cores texto
$color-text-primary:   #2A2A2A;
$color-text-secondary: #3F3F3F;
$color-text-tertiary: #3F3F40;
$color-text-quaternary: #080808;
$color-text-muted:     #9F9F9F;
$color-text-light:     #FFFFFF;
$color-text-medium:  #222222;
$color-placeholder: #676767;
$color-btn: #707070;

//cores de background
$primary-yellow:#F7CA11;
$primary-pink:#F71963;
$primary-blue: #3442B5;
$primary-purple: #3019B2;
$bg-purple: #271C47;
$text-ligth:#FFFFFF;
$text-dark: #2A2A2A;
$text-muted: #9F9F9F;
$bg-card: #FFFFFF;
$bg-gray: #F6F5F2;
$border-primary: #F0F0F0;
$border-secondary: #9F9F9F;
$border-light: #E5E5E5;
$border-medium: #E7E7E7;
$boder-larger: #282828;

//fontes
$font-main: 'Poppins', sans-serif;

//breakpoints
$mobile: 576px;
$tablet: 768px;
$desktop: 1024px;


//Cores de Texto
$color-text-primary:   #2A2A2A;
$color-text-secondary: #3B3B3B;
$color-text-muted:     #9F9F9F;
$color-text-light:     #FFFFFF;

//Cores de Backgrounds
$color-bg-main: #FFFFFF;
$color-bg-card: #F4F4F4;
$color-bg-gray: #F6F5F2;

//Bordas
$color-border-light:     #F0F0F0;
$color-border-medium:    #E5E5E5;
$color-border-dark:      #9F9F9F;
$color-border-separator: #DEDEDE;
$color-border-rectangle: #BDBDBD;
$border-Misto-solid: #D9D9D9;

//Tipografia
$font-main: 'Poppins', sans-serif;

//Tamanhos de Fonte 
$font-size-xs:  12px;
$font-size-sm:  14px;
$font-size-md:  16px;
$font-size-lg:  20px;
$font-size-xl:  32px;
$font-size-xxl: 40px;

//Pesos de Fonte
$font-weight-regular: 400;
$font-weight-medium:  500;
$font-weight-semi:    600;
$font-weight-bold:    700;

//Efeitos 
$shadow-card: 0px 3px 19px rgba(0, 0, 0, 0.06);
$shadow-hover: 0px 8px 24px rgba(0, 0, 0, 0.12);
$transition-default: 0.3s ease;

//Containers padrão
$container-general: 1440px;
$container-standard: 1280px;
