@use './../abstracts/variables' as *;

// Geral
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// paginas
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: $font-main;
  background-color: $bg-card;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

// Imagens
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

// Botões e texto
input,
button,
select {
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

// Links e listas
a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}